# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Variables de entorno — NUNCA subir a git
.env
*.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Tests
.pytest_cache/
.coverage
htmlcov/
